<app-header></app-header>
<div>
    <a class="about" href="#">ABOUT</a>
    <div class="logo">
        <img src="/assets/logo-horizontal-black.png">
    </div>
    <p>
        Inspired from one of the titles of our creator, 
        Divine ArchiTech is an initiative that combines 
        faith and technology in its mission to build 
        churches around the world.
    </p>
    <div class="player">
        <iframe [src]='url' frameborder="0" allowfullscreen title="Fr. Rick Davis of Blessed Ozanam Parish" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen="" name="fitvid0"></iframe>
    </div>
    <p class="footer">
        This initiative is spearheaded by GIGIL Metama 
        (based in Canada and the Philippines), for the benefit 
        of building the Blessed Frédéric Ozanam Parish led by 
        Fr. Ricardo Davis. Know more about them <a href="https://blessedozanam.ca/">here</a>.
    </p>
</div>
<app-footer class="bottom-0"></app-footer>
