<app-header></app-header>
<div class="artwork">
    <h2>Artwork Gallery</h2>
    <p><i>People's hopes and prayers turned into art.</i></p>
    <p class="label"><b>Number of prayers generated:</b></p>
    <p class="count">{{ ("0000" + images.length).slice(-4) }}</p>
    <div class="main">
        <div class="image-container" *ngFor="let image of images; let i = index">
            <img src="{{ image }}" alt="image" />
        </div>
        <!-- <div class="single-column" *ngIf="images && images.length > 0" 
            (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
            [style.align-self]="isOdd ? 'flex-end' : 'auto'"
            [style.--direction]="isOdd ? '50%' : '-50%'">
            <a *ngIf="images.length > 0"><img src="{{images[images.length-1]}}" alt="image"></a>
            <a *ngIf="images.length > 1"><img src="{{images[images.length-2]}}" alt="image"></a>
            <a *ngIf="images.length > 2"><img src="{{images[images.length-3]}}" alt="image"></a>
        </div>
        <div class="single-column" *ngIf="images && images.length > 3">
            <a *ngIf="images.length > 3"><img src="{{images[images.length-4]}}" alt="image"></a>
            <a *ngIf="images.length > 4"><img src="{{images[images.length-5]}}" alt="image"></a>
            <a *ngIf="images.length > 5"><img src="{{images[images.length-6]}}" alt="image"></a>
        </div> -->
    </div>
</div> 
<app-footer class="bottom-0"></app-footer>
<!-- <div class="image_slider" >
    <app-image-slider [slides]="slideImages"></app-image-slider>
</div> -->
