<app-header></app-header>
<div class="section">
    <h2>MADE WITH PRAYERS</h2>
    <p>Turn your hopes into art through AI. Start by donating to our cause.</p>
</div>
<div class="details">
    <div>
        <img src="/assets/art-frame-gold-1.png">
        <img src="/assets/sample-artwork.jpeg">
    </div>
    <div>
        <button><span>\</span>MAKE VARIATION</button>
        <button><span>\</span>DOWNLOAD</button>
        <button><span>\</span>PUBLISH PRAYER</button>
    </div>
</div>
<app-footer class="bottom-0"></app-footer>

