:host {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center bottom 0px;
    background-image: linear-gradient(180deg,rgba(0,0,0,0) 100%,#000000 100%),url(/assets/bg-night-stars.jpeg);
    padding-top: 99px;
}

:host h2 {
    font-family: 'PPRader Regular',Helvetica,Arial,Lucida,sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    padding: 0 0 10px 0;
    margin: 0 0 23px 0;
}

:host p {
    font-family: 'PP Formula Light',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.6em;
    font-size: 11px;
    max-width: 75%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

:host .donation button {
    color: #FFFFFF;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 15px;
    padding: 0 60px 0 60px;
    font-size: 28px;
    font-family: 'PPRader Regular',Helvetica,Arial,Lucida,sans-serif;
    background-color: RGBA(255,255,255,0);
    line-height: 1.7em;
    text-decoration: none;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
}

:host .donation button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.show {
    opacity: 1;
    height: 360px;
}

.hide {
    opacity: 0;
    height: 0;
}

.donation {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 24px;
}

.donation-step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 24px;
    -webkit-transition: opacity .5s linear, height .5s linear;
    -moz-transition: opacity .5s linear, height .5s linear;
      -o-transition: opacity .5s linear, height .5s linear;
     -ms-transition: opacity .5s linear, height .5s linear;
         transition: opacity .5s linear, height .5s linear;
    overflow: hidden;
    max-width: 80%;
}

.donation-step2 button {
    color: #000000;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 15px;
    font-size: 28px;
    font-family: 'PPRader-Bold',Helvetica,Arial,Lucida,sans-serif;
    background-color: #FFFFFF;
    padding: 0 60px;
    display: inline-block;
    line-height: 1.7em;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.donation-step2 button:hover {
    background-color: rgba(30,45,68,0.75);
    color: #FFFFFF;
}

.donation-step2 button:disabled {
    cursor: not-allowed;
}

.donation-step2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    box-sizing: border-box;
}

.donation-step2 > div > div {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 280px) and (max-height: 660px) {
    .donation-step2 > div > div {
        flex-direction: row !important;
        
    }
    
    .donation-step2 > div > div > button {
        min-width: 100px !important;
    }

    .donation-step2 > button {
        padding: 0 50px !important;
    }
}

@media (max-height: 667px) {
    .donation-step2 > div > div {
        flex-direction: row !important;
    }
}

.donation-step2 div input::placeholder {
    color: #FFFFFF;
}

.donation-step2 div input {
    color: #FFFFFF;
    border-radius: 40px;
    font-size: 19px;
    font-family: 'PPRader Regular',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    background-color: RGBA(255,255,255,0);
    padding: 5px 6px;
    display: inline-block;
    line-height: 1.7em;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    margin: 0;
    text-align: center;
}

.donation-step2 div input.ng-invalid {
    border: 2px solid #FB7D7D;
}

.donation-step2 div input::-webkit-outer-spin-button,
.donation-step2 div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donation-step2 div button {
    color: #000000;
    border-radius: 40px;
    font-size: 25px;
    font-family: 'PPRader-Bold',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    line-height: 1.7em;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    margin: 0;
    cursor: pointer;
    min-width: 111px;
    text-align: center;
    padding: 0;
}

.selected {
    background-color: rgba(255,255,255)!important;
}

input:focus {
    outline: 0;
    border: 2px solid #3570D8 !important;
}