
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$divine_architech-primary: mat.define-palette(mat.$indigo-palette);
$divine_architech-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$divine_architech-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$divine_architech-theme: mat.define-light-theme((
  color: (
    primary: $divine_architech-primary,
    accent: $divine_architech-accent,
    warn: $divine_architech-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($divine_architech-theme);

/* You can add global styles to this file, and also import other style files */

body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

p {
    margin: 0;
}

@font-face{
	font-family: "ETmodules";
	font-display: block;
	src:url(/assets/modules.eot);
	src:url(/assets/modules.eot?#iefix) format("embedded-opentype"),
        url(/assets/modules.woff) format("woff"),
	    url(/assets/modules.ttf)  format("truetype"),
        url(/assets/modules.svg) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
    font-family:"PP Formula Light";
    font-display:swap;
    src:url("/assets/PPFormula-Light.otf") format("opentype")
}

@font-face{
    font-family:"PPRader Regular";
    font-display:swap;
    src:url("/assets/PPRader-Regular.otf") format("opentype")
}

@font-face{
    font-family:"PPRader-Bold";
    font-display:swap;
    src:url("/assets/PPRader-Bold.otf") format("opentype")
}

@font-face{
    font-family:"PP Formula Medium Italic";
    font-display:swap;
    src:url("/assets/PPFormula-MediumItalic.otf") format("opentype")
}

.bottom-0 {
    bottom: 0;
}

.top-0 {
    top: 0;
}

.loading-ellipsis {
    position: relative;
    width: 80px;
    height: 100%;
  }
  .loading-ellipsis div {
    position: absolute;
    top: calc(50% - 6.5px);;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loading-ellipsis div:nth-child(1) {
    left: 8px;
    animation: loading-ellipsis1 0.6s infinite;
  }
  .loading-ellipsis div:nth-child(2) {
    left: 8px;
    animation: loading-ellipsis2 0.6s infinite;
  }
  .loading-ellipsis div:nth-child(3) {
    left: 32px;
    animation: loading-ellipsis2 0.6s infinite;
  }
  .loading-ellipsis div:nth-child(4) {
    left: 56px;
    animation: loading-ellipsis3 0.6s infinite;
  }
  @keyframes loading-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loading-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loading-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
