<app-header></app-header>
<div class="logo-container">
    <img src="/assets/logo-vertical-white.png" title="divine-architect-logo">
</div>
<app-footer class="top-0"></app-footer>

<div class="popup-overlay" *ngIf="showPopup">
    <div class="popup-container">
        <div class="popup-header">
            <button class="close-button" (click)="closePopup()">X</button>
        </div>
        <div class="popup-content">
            <h2>MADE WITH PRAYERS</h2>
            <p>Help build churches by generating <br>and donating your own NFT.</p>
            <p>Turn your hopes into digital art <br>through AI today.</p>
        </div>
        <div class="popup-footer">
        <button class="continue-button" (click)="continue()">CONTINUE</button>
        </div>
    </div>
</div>